<!DOCTYPE html>
<html>

<head>
    <title>Permit Add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h2>Permit Add</h2>

        <form method="POST">

            <div class="row">
            <section>

                <!-- Passport ID INPUT -->
                <label for="passportId">Passport ID</label>
                <input type="text" id="passportID" name="passportID" placeholder="Existing 8-character Passport ID" maxlength="8">

                <!-- Permit ID INPUT -->
                <label for="permitId">Permit ID</label>
                <input type="text" id="permitID" name="permitID" placeholder="8-character Permit ID" maxlength="8">
            
                <!-- Application ID INPUT --> 
                <label for="applicationID">Application ID</label>
                <input type="number" id="applicationID" name="applicationID" placeholder="Existing Application ID Number">
                
                <!-- issue date input -->
                <label for="issueDate">Issue Date</label>
                <input type="date" id="issueDate" name="issueDate">

                <!-- expiry date input -->
                <label for="expiryDate">Expiry Date</label>
                <input type="date" id="expiryDate" name="expiryDate">

                <!-- Permit TYPE FILTER -->
                <label for="permitType">Permit Type</label>
                <select id="permitType" name="permitType">
                    <option>All</option>
                    <option>Work Permit</option>
                    <option>Study Permit</option>
                </select>

            </section>
            </div>

            <button type="submit">Add</button>

        </form>

    </div>

</body>

</html>