<!DOCTYPE html>
<html>

<head>
    <title>Permit Remove</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h2>Permit Remove</h2>

        <form method="POST">

            <div class="row">
                <div style="display:flex; align-items:center; padding:0 10px;">
                    <strong>Permit ID</strong>
                </div>
            </div>

            <!-- ID INPUT -->
            <div id="idSection">
                <input type="text" id="permit" name="permitID" placeholder="Enter 10-character permit ID" maxlength="10">
            </div>

            <button type="submit">Remove</button>

        </form>

    <div class="table-container">
        {% if results is not none %}

        <table class="result-table">

            <thead>
                <tr>
                    {% for key in results[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in results %}
                <tr>
                    {% for value in row.values() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% endif %}
    </div>
</div>

</body>

</html>