<!DOCTYPE html>
<html>

<head>
    <title>Non-Citizen Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h2>Non-Citizen Query</h2>

        <form method="POST">

            <div class="row">

                <!-- Action -->
                <div>
                    <select name="action" id="actionSelect">
                        <option>Find</option>
                        <option>Count</option>
                    </select>
                </div>

                <!-- Fixed Text -->
                <div style="display:flex; align-items:center; padding:0 10px;">
                    <strong>Non-Citizen</strong>
                </div>

                <!-- Field Selector -->
                <div>
                    <select name="field" id="fieldSelect" onchange="onFieldChange()">
                        <option value="none">N/A</option>
                        <option value="basic">Basic Information</option>
                        <option value="visa">Visa</option>
                        <option value="permit">Permit</option>
                        <option value="application">Application</option>
                        <option value="border">Border Crossing</option>
                    </select>
                </div>

                <div>
                    <select name="attribute" id="attributeSelect" class="hidden section" onchange="requestBasicInput()">
                        <option value="countryOfOrigin">Country of Origin</option>
                        <option value="dob">Date of Birth</option>
                        <option value="passportID">Passport ID</option>
                        <option value="criminalRecord">Criminal Record</option>
                        <option value="firstName">First Name</option>
                        <option value="middleName">Middle Name</option>
                        <option value="lastName">Last Name</option>
                        <option value="streetName">Street Name</option>
                        <option value="city">City</option>
                        <option value="province">Province</option>
                        <option value="postalCode">Postal Code</option>
                    </select>

                    <select name="visa" id="visaSelect" class="hidden section" onchange="requestVisaInput()">
                        <option value="type">Visa Type</option>
                        <option value="status">Stay Status</option>
                        <option value="expiry">Expiry Date</option>
                        <option value="issue">Issue Date</option>
                    </select>

                    <select name="permit" id="permitSelect" class="hidden section" onchange="requestPermitInput()">
                        <option value="type">Permit Type</option>
                        <option value="expiry">Expiry Date</option>
                        <option value="issue">Issue Date</option>
                    </select>

                    <select name="application" id="applicationSelect" class="hidden section" onchange="requestApplicationInput()">
                        <option value="submission">Submission Date</option>
                        <option value="status">Application Status</option>
                    </select>

                    <select name="border" id="borderSelect" class="hidden section" onchange="requestBorderInput()">
                        <option value="date">Border Crossing Date</option>
                        <option value="hasEntered">Has Entered</option>
                        <option value="hasExited">Has Exited</option>
                        <option value="allCrossingTypes">Has All Crossing Types</option>
                    </select>

                </div>

            </div>

            <div class="row">
                <!-- TEXT INPUT -->
                <div id="textSection" class="hidden section">
                    <input type="text" name="textValue" placeholder="Enter text">
                </div>

                <!-- DATE FILTER -->
                <div id="dateSection" class="hidden section">
                    <select name="dateCondition">
                        <option>Before</option>
                        <option>On</option>
                        <option>After</option>
                    </select>

                    <input type="date" name="dateValue">
                </div>

                <!-- BOOLEAN FILTER -->
                <div id="booleanSection" class="hidden section">
                    <select name="booleanValue">
                        <option value="1">True</option>
                        <option value="0">False</option>
                    </select>
                </div>

                <!-- VISA TYPE FILTER -->
                <div id="visaSection" class="hidden section">
                    <select name="visaType">
                        <option value="none">No Visa</option>
                        <option value="all">All Visas</option>
                        <option value="transit">Transit Visa</option>
                        <option value="visitor">Visitor Visa</option>
                    </select>
                </div>

                <!-- STAY STATUS FILTER -->
                <div id="staySection" class="hidden section">
                    <select name="stayStatus">
                        <option value="valid">Valid</option>
                        <option value="expired">Expired</option>
                        <option value="revoked">Revoked</option>
                    </select>
                </div>

                <!-- PERMIT TYPE FILTER -->
                <div id="permitSection" class="hidden section">
                    <select name="permitType">
                        <option value="none">No Permit</option>
                        <option value="all">All Permits</option>
                        <option value="work">Work Permit</option>
                        <option value="study">Study Permit</option>
                    </select>
                </div>

                <!-- STATUS FILTER -->
                <div id="statusSection" class="hidden section">
                    <select id="appStatus" name="appStatus">
                        <option value="in progress">In Progress</option>
                        <option value="approved">Approved</option>
                        <option value="rejected">Rejected</option>
                        <option value="submitted">Submitted</option>
                    </select>
                </div>

            </div>

            <button type="submit">Search</button>

        </form>

    <div class="table-container">
            {% if results %}

            <table class="result-table">

                <thead>
                    <tr>
                        {% for key in results[0].keys() %}
                        <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in results %}
                    <tr>
                        {% for value in row.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% else %}
            <p>No data found matching your query.</p>

            {% endif %}
        </div>
        <br></br>
        <button onclick="window.location.href='..'">Back to Home Page</button>

    </div>

    <script>

        function onFieldChange() {
            const field = document.getElementById("fieldSelect").value;

            resetAllConditional();

            if (field === "basic") {
                document.getElementById("attributeSelect").classList.remove("hidden");
            } else if (field === "visa") {
                document.getElementById("visaSelect").classList.remove("hidden");
            } else if (field === "permit") {
                document.getElementById("permitSelect").classList.remove("hidden");
            } else if (field === "application") {
                document.getElementById("applicationSelect").classList.remove("hidden");
            } else if (field === "border") {
                document.getElementById("borderSelect").classList.remove("hidden");
            }
        }

        function requestBasicInput() {
            const attribute = document.getElementById("attributeSelect").value;
            const textSection = document.getElementById("textSection");

            resetAttributeConditionals();

            if (attribute == "countryOfOrigin" || attribute == "firstName" || attribute == "middleName" || attribute == "lastName"
                || attribute == "streetName" || attribute == "city" || attribute == "province" || attribute == "postalCode") {
                textSection.classList.remove("hidden");
            } else if (attribute == "dob") {
                document.getElementById("dateSection").classList.remove("hidden");
            } else if (attribute == "passportID") {
                document.getElementById("textSection").classList.remove("hidden");
            } else if (attribute == "criminalRecord") {
                document.getElementById("booleanSection").classList.remove("hidden");
            }
        }

        function requestVisaInput() {
            const visaAttribute = document.getElementById("visaSelect").value;

            resetVisaConditionals();

            if (visaAttribute === "type") {
                document.getElementById("visaSection").classList.remove("hidden");
            } else if (visaAttribute === "status") {
                document.getElementById("staySection").classList.remove("hidden");
            } else if (visaAttribute === "expiry" || visaAttribute === "issue") {
                document.getElementById("dateSection").classList.remove("hidden");
            }
        }

        function requestPermitInput() {
            const permitAttribute = document.getElementById("permitSelect").value;

            resetPermitConditionals();

            if (permitAttribute === "type") {
                document.getElementById("permitSection").classList.remove("hidden");
            } else if (permitAttribute === "expiry" || permitAttribute === "issue") {
                document.getElementById("dateSection").classList.remove("hidden");
            }
        }

        function requestApplicationInput() {
            const appAttribute = document.getElementById("applicationSelect").value;

            resetApplicationConditionals();

            if (appAttribute === "submission") {
                document.getElementById("dateSection").classList.remove("hidden");
            } else if (appAttribute === "status") {
                document.getElementById("statusSection").classList.remove("hidden");
            }
        }

        function requestBorderInput() {
            const borderAttribute = document.getElementById("borderSelect").value;

            resetBorderConditionals();

            if (borderAttribute === "date") {
                document.getElementById("dateSection").classList.remove("hidden");
            }
        }

        function resetAllConditional() {
            resetTypeConditionals();
            resetAttributeConditionals();
            resetVisaConditionals();
            resetPermitConditionals();
            resetApplicationConditionals();
            resetBorderConditionals();
        }

        function resetBorderConditionals() {
            document.getElementById("dateSection").classList.add("hidden");

            document.querySelectorAll("#dateSection input, #dateSection select")
                .forEach(el => el.value = "");
        }

        function resetApplicationConditionals() {
            document.getElementById("dateSection").classList.add("hidden");
            document.getElementById("statusSection").classList.add("hidden");

            document.querySelectorAll("#dateSection input, #dateSection select")
                .forEach(el => el.value = "");
            document.querySelectorAll("#statusSection select")
                .forEach(el => el.value = "pending");
        }

        function resetPermitConditionals() {
            document.getElementById("permitSection").classList.add("hidden");
            document.getElementById("dateSection").classList.add("hidden");

            document.querySelectorAll("#permitSection select")
                .forEach(el => el.value = "none");
            document.querySelectorAll("#dateSection input, #dateSection select")
                .forEach(el => el.value = "");
        }

        function resetVisaConditionals() {
            document.getElementById("visaSection").classList.add("hidden");
            document.getElementById("staySection").classList.add("hidden");
            document.getElementById("dateSection").classList.add("hidden");

            document.querySelectorAll("#visaSection select, #staySection select")
                .forEach(el => el.value = "none");
            document.querySelectorAll("#dateSection input, #dateSection select")
                .forEach(el => el.value = "");
            document.querySelectorAll("#staySection select")
                .forEach(el => el.value = "none");
        }

        function resetTypeConditionals() {
            // hide all sections
            document.getElementById("attributeSelect").classList.add("hidden");
            document.getElementById("visaSelect").classList.add("hidden");
            document.getElementById("permitSelect").classList.add("hidden");
            document.getElementById("applicationSelect").classList.add("hidden");
            document.getElementById("borderSelect").classList.add("hidden");

            // reset inputs inside them
            document.querySelectorAll("#attributeSelect select")
                .forEach(el => el.value = "none");
            document.querySelectorAll("#visaSelect select")
                .forEach(el => el.value = "none");
            document.querySelectorAll("#permitSelect select")
                .forEach(el => el.value = "none");
            document.querySelectorAll("#applicationSelect select")
                .forEach(el => el.value = "none");
            document.querySelectorAll("#borderSelect select")
                .forEach(el => el.value = "none");
        }

        function resetAttributeConditionals() {
            document.getElementById("textSection").classList.add("hidden");
            document.getElementById("dateSection").classList.add("hidden");
            document.getElementById("booleanSection").classList.add("hidden");

            // reset inputs inside them
            document.querySelectorAll("#dateSection input, #dateSection select")
                .forEach(el => el.value = "");
            document.querySelectorAll("#textSection input")
                .forEach(el => el.value = "");
            document.querySelectorAll("#booleanSection select")
                .forEach(el => el.value = "true");
        }
    </script>
</body>

</html>