<!DOCTYPE html>
<html>
<head>
    <title>Non-Citizen Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="container">

    <h2>Non-Citizen Update</h2>

    <form method="POST">

        <div class="row">
            <div><strong>Update Non-Citizen</strong></div>

            <div>
                <select name="field" id="fieldSelect" onchange="onFieldChange()">
                    <option value="none">Select Field</option>
                    <option value="FirstName">First Name</option>
                    <option value="MiddleName">Middle Name</option>
                    <option value="LastName">Last Name</option>
                    <option value="HasCriminalRecord">Criminal Record</option>
                    <option value="CountryOfOrigin">Country</option>
                    <option value="StreetName">Street</option>
                    <option value="City">City</option>
                    <option value="Province">Province</option>
                    <option value="PostalCode">Postal Code</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div><strong>Where:</strong></div>

            <div>
                <label>Passport ID:</label>
                <input type="text" name="passportID">
            </div>
        </div>

        <div class="row">
            <div><strong>Update To:</strong></div>

            <div id="textSection" class="hidden">
                <input type="text" name="value">
            </div>
        </div>

        <button type="submit">Update</button>

    </form>

    <br></br>
        <button onclick="window.location.href='..'">Back to Home Page</button>

</div>

<script>
function onFieldChange() {
    document.getElementById("textSection").classList.remove("hidden");
}
</script>

</body>
</html>