<!DOCTYPE html>
<html>

<head>
    <title>Visa Add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h2>Visa Add</h2>

        <form method="POST">

            <div class="row">

                <div style="display:flex; align-items:center; padding:0 10px;">
                    <strong>Visa</strong>
                </div>

            </div>

            <div class="row">
            <section>

                <!-- passportID INPUT -->
                <label for="passportId">Passport ID</label>
                <input type="text" id="passportID" name="passportID" placeholder="Enter 8-character Passport ID" maxlength="8">

                <!-- visaID INPUT -->
                <label for="passportId">Visa ID</label>
                <input type="text" id="visaID" name="visaID" placeholder="Enter 8-character Visa ID" maxlength="8">
            
                <!-- Application ID INPUT -->
                <label for="applicationID">Application ID</label>
                <input type="number" id="applicationID" name="applicationID" placeholder="Enter Application ID">
                
                <!-- issue date input -->
                <label for="issueDate">Issue Date</label>
                <input type="date" id="issueDate" name="issueDate">

                <!-- expiry date input -->
                <label for="expiryDate">Expiry Date</label>
                <input type="date" id="expiryDate" name="expiryDate">

                <!-- TYPE FILTER -->
                <label for="stayStatus">Stay Status</label>
                <select id="statyStatus" name="stayStatus">
                    <option>Valid</option>
                    <option>Revoked</option>
                    <option>Expiried</option>
                </select>

                <!-- TYPE FILTER -->
                <label for="visaType">Visa Type</label>
                <select id="visaType" name="visaType">
                    <option>All</option>
                    <option>Transit Visa</option>
                    <option>Visitor Visa</option>
                </select>
            </section>
            </div>
            <button type="submit">Submit</button>

        </form>

    <div class="table-container">
        {% if results is not none %}

        <table class="result-table">

            <thead>
                <tr>
                    {% for key in results[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in results %}
                <tr>
                    {% for value in row.values() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% endif %}
    </div>
</div>

</body>

</html>