<!DOCTYPE html>
<html>

<head>
    <title>Application Add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h2>Application Add</h2>

        <form method="POST">

            <div class="row">
            <section>

                <!-- Application ID INPUT --> 
                <label for="applicationID">Application ID</label>
                <input type="number" id="applicationID" name="applicationID" placeholder="New Application ID Number">

                <!-- Passport ID INPUT -->
                <label for="passportId">Passport ID</label>
                <input type="text" id="passportID" name="passportID" placeholder="Existing 8-character Passport ID" maxlength="8">

                <!-- Date INPUT -->
                <label for="submissionDate">Submission Date</label>
                <input type="date" id="submissionDate" name="submissionDate">

                <!-- Document Number INPUT --> 
                <label for="document">Supporting Document</label>
                <input type="number" id="document" name="document" placeholder="Supporting Document Number">                

                <!-- status Select -->
                <label for="status">Application Status</label>
                <select id="status" name="status">
                    <option>- Select Application Status -</option>
                    <option>Submitted</option>
                    <option>In Progress</option>
                    <option>Approved</option>
                    <option>Rejected</option>
                </select>

            </section>
            </div>

            <button type="submit">Add</button>

        </form>

        <br></br>
        <button onclick="window.location.href='..'">Back to Home Page</button>

    </div>

</body>

</html>